<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "cn.bptop.metering.dao.MeteringRecordMapper">
	<resultMap id = "mrResultMap" type = "cn.bptop.metering.pojo.MeteringRecord">
		<id column = "metering_record_id" jdbcType = "INTEGER" property = "meteringRecordId"/>
		<result column = "metering_id" jdbcType = "INTEGER" property = "meteringId"/>
		<result column = "unify_id" jdbcType = "VARCHAR" property = "unifyId"/>
		<result column = "metering_range" jdbcType = "VARCHAR" property = "meteringRange"/>
		<result column = "metering_validity" jdbcType = "TIME" property = "meteringValidity"/>
		<result column = "metering_test_time" jdbcType = "TIME" property = "meteringTestTime"/>
		<result column = "plant" jdbcType = "VARCHAR" property = "plant"/>
		<result column = "department" jdbcType = "VARCHAR" property = "department"/>
		<result column = "userId" jdbcType = "VARCHAR" property = "userId"/>
		<result column = "dd_name" jdbcType = "VARCHAR" property = "ddName"/>
		<result column = "manufacturing_id" jdbcType = "VARCHAR" property = "manufacturingId"/>
		<result column = "metering_status" jdbcType = "INTEGER" property = "meteringStatus"/>
		<result column = "notes" jdbcType = "VARCHAR" property = "notes"/>
		<result column = "metering_log" jdbcType = "VARCHAR" property = "meteringLog"/>
	</resultMap>
	<resultMap id = "mResultMap" type = "cn.bptop.metering.pojo.Metering">
		<id column = "metering_id" jdbcType = "INTEGER" property = "meteringId"/>
		<result column = "metering_name" jdbcType = "VARCHAR" property = "meteringName"/>
		<result column = "metering_model" jdbcType = "VARCHAR" property = "meteringModel"/>
		<result column = "metering_classify" jdbcType = "VARCHAR" property = "meteringClassify"/>
		<result column = "metering_period" jdbcType = "INTEGER" property = "meteringPeriod"/>
	</resultMap>
	<resultMap id = "toolResultMap" type = "cn.bptop.metering.pojo.MeteringRecordVO">
		<association property = "metering" resultMap = "mResultMap"/>
		<association property = "meteringRecord" resultMap = "mrResultMap"/>
	</resultMap>
	<insert id = "addRecord">
		INSERT INTO metering_record
		values (default,
		        #{meteringId}, #{unifyId}, #{meteringTestTime},
		        #{meteringValidity},
		        #{meteringRange},
		        "装调车间",
		        #{department},
		        #{userId},
		        #{ddName}, #{manufacturingId}, #{meteringStatus}, #{notes}, #{meteringLog})
	</insert>
	<update id = "updateValidity">
		UPDATE metering_record
		SET metering_validity = #{meteringValidity}
		WHERE metering_record_id = #{meteringRecordId}
	</update>
	<update id = "updateStatus">
		UPDATE metering_record
		SET metering_status = #{meteringStatus}
		WHERE metering_record_id = #{meteringRecordId}
	</update>
	<update id = "updateNotes">
		UPDATE metering_record
		SET notes = #{notes}
		WHERE metering_record_id = #{meteringRecordId}
	</update>
	<update id = "makeOver">
		UPDATE metering_record
		SET metering_record_id = #{meteringRecordId},
		    userId             = #{makeOverUserId},
		    dd_name            = #{makeOverUser},
		    department         = #{department}
		WHERE metering_record_id = #{meteringRecordId}
	</update>
	<select id = "findRecord" resultMap = "toolResultMap">
		SELECT *
		FROM metering_record r
		LEFT JOIN metering m ON r.metering_id = m.metering_id
		<where>
			<if test = "userId != null and userId != ''">
				r.userId = #{userId}
			</if>
			<if test = "meteringRecordId != null and meteringRecordId != ''">
				and r.metering_record_id = #{meteringRecordId}
			</if>

		</where>
		ORDER BY r.metering_status desc , r.metering_validity;
	</select>
	<select id = "findRecordByStatus" resultMap = "mrResultMap">
		SELECT *
		FROM metering_record
		WHERE metering_status = #{meteringStatus}
	</select>
	<select id = "filtrateRecord" resultMap = "toolResultMap">
		SELECT *
		FROM metering_record r
		LEFT JOIN metering m ON r.metering_id = m.metering_id
		<where>
			<if test = "meteringName != null and meteringName != ''">
				m.metering_name = #{meteringName}
			</if>
			<if test = "department != null and department != ''">
				and r.department = #{department}
			</if>
			<if test = "meteringStatus != null and meteringStatus != ''">
				and r.metering_status = #{meteringStatus}
			</if>
		</where>
		ORDER BY r.metering_status desc , r.metering_validity;
	</select>
</mapper>