<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "cn.bptop.metering.dao.MeteringMapper">
	<resultMap id = "BaseResultMap" type = "cn.bptop.metering.pojo.Metering">
		<result column = "id" jdbcType = "INTEGER" property = "id"/>
		<result column = "userId" jdbcType = "VARCHAR" property = "userId"/>
		<result column = "dd_name" jdbcType = "VARCHAR" property = "ddName"/>
		<result column = "m_tool" jdbcType = "VARCHAR" property = "mTool"/>
		<result column = "m_validity" jdbcType = "TIME" property = "mValidity"/>
		<result column = "m_status_code" jdbcType = "INTEGER" property = "mStatusCode"/>
		<result column = "m_status" jdbcType = "VARCHAR" property = "mStatus"/>
	</resultMap>
	<insert id = "addTool">
		INSERT INTO metering
		VALUES (DEFAULT, #{userId}, #{ddName}, #{tool}, #{date}, 1, '未过期')
	</insert>
	<select id = "findMetering" resultMap = "BaseResultMap" parameterType = "string">
		SELECT *
		FROM `metering`
		<where>
			<choose>
				<when test = "userId!=null">
					user_id = #{userId}
				</when>
				<when test = "statusCode!=null">
					<foreach collection = "statusCode" item = "statusCode" open = "and m_status_code in (" close = ") "
					         separator = ",">
						#{statusCode}
					</foreach>
				</when>
			</choose>
		</where>
		ORDER BY m_status_code DESC, m_validity
	</select>
	<update id = "updateTool" parameterType = "string">
		UPDATE metering
		SET m_tool = #{newTool}
		where id = #{id}
	</update>
	<update id = "updateValidity" parameterType = "string">
		UPDATE metering
		SET m_validity = #{date}
		where id = #{id}
	</update>
	<update id = "updateStatusCode">
		UPDATE metering
		SET m_status_code = #{statusCode}
		where id = #{id}
	</update>
	<update id = "updateStatus">
		UPDATE metering
		SET m_status = #{status}
		where id = #{id}
	</update>
</mapper>