<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "cn.bptop.metering.dao.UserMapper">
	<resultMap id = "BaseResultMap" type = "cn.bptop.metering.pojo.User">
		<result column = "id" jdbcType = "INTEGER" property = "id"/>
		<result column = "dd_userid" jdbcType = "VARCHAR" property = "ddId"/>
		<result column = "dd_name" jdbcType = "VARCHAR" property = "ddName"/>
	</resultMap>
	<insert id = "addUser">
		INSERT INTO dd_user
		VALUES (#{id}, #{ddId}, #{name})
	</insert>
	<select id = "findUser" resultMap = "BaseResultMap">
		SELECT *
		FROM `dd_user`
		WHERE dd_name = #{name}
	</select>
</mapper>